<!DOCTYPE html>
<html ng-app="temperatureApp">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="TemperatureCtrl as tempCtrl">
    <h1><%= title %></h1>
    <div ng-cloak>
      <div class="timestamp">{{ temperature.datetime }}</div>
      <div class="celsius">{{ temperature.celsius }}</div>
    </div>

    <pre>
      <hr/>
      <% if(env !== undefined) { %>
        env:<%= env %>
      <% } %>
    </pre>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>
