<!DOCTYPE html>
<html ng-app="temperatureApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style link="/angular/angular-csp.css"></style>
  </head>
  <body ng-controller="TemperatureCtrl as tempCtrl" ng-cloak>
    <h1><%= title %></h1>
    <div>
      <h2 class="date">{{ temperature.datetime | date : 'd.MM.yyyy' }}</div>
      <h2 class="time">{{ temperature.datetime | date : 'HH:mm:ss' }}</div>
      <h3 class="celsius">{{ temperature.celsius }}°C</div>
    </div>

    <pre>
      <hr/>
      <% if(env !== 'development') { %>
        env:<%= env %>
      <% } %>
    </pre>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>
